html {
font-size: 62.5%; 
margin: 0 auto;
}

body {
background-color: #ccc8c8c9;
font-family: Arial, Helvetica, sans-serif;
padding: 10px;
}

.main-container {
max-width: 1080px;
margin: 0 auto;
padding: 20px;
}

header {
  background: linear-gradient( to left, rgb(167, 165, 165), rgb(255, 255, 255));
  border-bottom: 2px  solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

img {
  width: 60%;
}

#title {
  font-family: 'Poppins', sans-serif;
  font-family: 'Rubik', sans-serif;
  padding: 20px;
  flex-direction: row;
  line-height: 10px;
  font-size: 25px;
  font-weight: bold;
  align-items: center;
}

.seo-img {
  position: relative;
  top: 50px;
  width: 580px;
  display: flex;
  display: inline;
  margin-left: 10px;
}

h1 {
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 25px;
  font-family: 'Poppins', sans-serif;
  font-family: 'Rubik', sans-serif;
  
}

span {
  border-left: 5px solid #b481df85 ;
  color: rgb(132, 14, 381);  
  display: inline;
  line-height: 100%;
}

h2 {
    position: unset;
    font-size: 2.4rem;
    color: #365875;
    line-height: 10px;
    margin-top: 15%;
}

h3 {
  font-size: 1.8rem;
  color: #254159;
}

h4{
  font-size: 1.6rem;
  color: #254159;
}

p {
  font-family: 'Lato', sans-serif;
  font-family: 'Work Sans', sans-serif;
  position: unset;
}


section { 
  background-color: #ffffff;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  margin-top: 20px;
  border: 1px solid #343636;
}

  section nav {
    background-color: #2d7179af;
    border: 1px solid rgb(255, 255, 255);
    font-weight: bold;
    border: 1px groove #00000080;
    display: flex;
    flex-direction: column;
  }
  
  section nav a {
    font-family: sans-serif;
    text-decoration: none;
    color: #000000;
  }

  a:hover{
    color: rgb(132, 14, 281); 
    transition: 0.3s all;

  }

  #inscreva-se-btn {
    border: 3px solid #06070757 ;
    padding: 5px;
    border-radius: 15px;
    display: inline-block;
  }

  #inscreva-se-btn:hover {
    background-color: darkcyan;
    color: #ffffff;
  }
   
li {
  display: inline-block; 
  justify-content: space-between; 
  margin: 20px;
  align-items: center;
}

section article {
width: 60%;
margin: 25px;
}

.formulario {
  display: inline-block; 
  width: 60%;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: center; 
  margin: 0 20% 0 20%;
}


#tenho-interesse {
  height: 10%;
  background-color: rgba(165, 190, 190, 0.719) !important;
  margin: 10px;
  display: block;
  padding: 2%;
}

footer {
  margin-top: 25px;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 110, 110, 0.637); 
  font-size: 25px;
  color: #070606;
}

footer p {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}

@media (min-width: 420px) and (max-width: 900px) {
  article,  header  {
    width: 100%;
    height: 100%;
    display: unset;
  }

  .main-container {
    padding-left: 1%;
    padding-right: 1%;
  }

  h2, h3, p {
    display: block;
    margin: 5px;
    text-align: left;
    font-size: 1.6rem;
    margin: 10px;
    
  }


  span {
    font-size: 2.4rem;
    line-height: 100%;
  }

  .seo-img{
position: unset;
width: 80%;
height: 100%;

  }

 section nav {
    background-color: rgba(1, 110, 110, 0.445);
    float: left;
    border-radius: 15%;
    display: block;
    width: 30%;
    padding: 10px;
    
    
  }

  img {
    width: 60%;
    margin: 0 auto;
  }
}
